<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <h3>TASK REMINDER FROM LECTURE REMINDER SYSTEM</h3>
    <small>
        <p>
            &copy; Powered By
            <a class="developer-link" href="http://wa.me/+2348104465980">zayonSoft</a>
        </p>
    </small>
    <br>

    <p>Dear {{student.username}}, Task Reminder For {{current_date}}</p>
    <br>
    <small>Here Are Your Tasks For Today</small>
    <table>
        <tr>
            <th>S/N</th>
            <th>Task Type</th>
            <th>Due Time</th>
        </tr>
        {% for task in todays_tasks %}
        <tr>
            <td> {{forloop.counter}} </td>
            <td> {{task.task_type.name}} </td>
            <td>{{task.due_date}}</td>
            <td> <a href="{% url 'view_task' task.id %}">View</a> </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <hr>
    <footer style="
        padding: 5px;
        text-align: center;">
        <style>
            a.developer-link {
                text-decoration: none;
                color: rgb(107, 137, 145);
            }

            a.developer-link:hover {
                color: rgb(2, 167, 158);
            }
        </style>
        <p>
            &copy; Powered By
            <a class="developer-link" href="http://wa.me/+2348104465980">zayonSoft</a> 2024 - <span
                class="current_year">{{current_date.year}}</span>
            || All Rights Reserved.
        </p>
        </p>
    </footer>
    </div><!-- div.view-message-cover -->


</body>

</html>