<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
    <style>
        tr {
            padding: 5px;
        }

        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid grey;
        }
    </style>
</head>

<body>
    <h3>TASK REMINDER FROM LECTURE REMINDER SYSTEM</h3>
    <small>
        <p>
            &copy; Powered By
            <a class="developer-link" href="http://wa.me/+2348104465980">zayonSoft</a>
        </p>
    </small>
    <br>

    <p>Dear {{user.username}},<br /> {{message_header}}</p>
    <br>
    {% if task.created_by == user  %}
    <small>A Task Created By You</small>
    {% endif %}

    <h3 style="padding: 5px;">The Details of The Task Below:</h3>
    <ul style="list-style: none; display: grid;gap: 5px;">
        <li style="border-bottom: 1px solid dimgrey;padding: 5px; ">Course: {{task.course.course_code}} </li>
        <li style="border-bottom: 1px solid dimgrey;padding: 5px; ">Type: {{task.task_type.name}} </li>
        <li style="border-bottom: 1px solid dimgrey;padding: 5px; ">Description: {{task.description}} </li>
        <li style="padding: 5px; ">Due/Expiry Date: {{task.due_date}} </li>
    </ul>


    <br>
    <hr>
    <footer style="
        padding: 5px;
        text-align: center;">
        <style>
            a.developer-link {
                text-decoration: none;
                color: rgb(107, 137, 145);
            }

            a.developer-link:hover {
                color: rgb(2, 167, 158);
            }
        </style>
        {% if current_year == year_developed %}
        <p>
            &copy; Powered By
            <a class="developer-link" href="https://wa.me/+2348104465980">zayonSoft</a>
            {{year_developed}} - <span class="current_year">{{current_year}}</span>
            || All Rights Reserved.
        </p>
        {% else %}
        <p>
            &copy; Powered By
            <a class="developer-link" href="https://wa.me/+2348104465980">zayonSoft</a>
            <span class="current_year">{{current_year}}</span>
            || All Rights Reserved.
        </p>
        {% endif %}

    </footer>
    </div><!-- div.view-message-cover -->


</body>

</html>