{% extends 'main/main.html' %}
{% block content %}
<style>
    section.task-form-cover {
        font-family: system-ui;
        padding: 5px;
        display: grid;
        gap: 15px;
        max-height: 80vh;
        overflow-y: scroll;
    }

    section.task-form-cover::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }

    section.task-form-cover::-webkit-scrollbar-thumb {
        background-color: grey;
    }

    .section-header {
        font-weight: 400;
        font-family: system-ui;
        font-size: 1.3rem;
        color: rgb(10, 33, 51);
        text-align: center;
    }

    div.task-form-cover {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px #aaaaaa;
        box-sizing: border-box;
        max-width: 600px;
        width: 98%;
        margin: auto;
        background-color: white;
        display: grid;
        gap: 15px;
    }


    .task-form {
        display: grid;
        gap: 10px;
        padding: 5px;
        box-sizing: border-box;
    }

    div.each-input {
        display: grid;
        gap: 3px;
    }

    span.label {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .style-link {
        font-family: system-ui;
        font-size: 0.85rem;
        color: grey;
        transition: 0.5s ease;
    }

    .style-link:hover {
        color: rgb(34, 34, 34);

    }

    .input textarea {
        resize: none;
        width: 100%;
        height: 35vh;
        box-sizing: border-box;
        background: transparent;
        border-radius: 5px;
        padding: 10px;
        outline: none;
        border: 1px solid #3a3a3a;
        font-family: system-ui;
    }

    .input textarea::placeholder {
        font-family: system-ui;
    }

    .input input {
        border: 1px solid #252525;
        border-radius: 3px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .input select,
    .input input {
        resize: none;
        width: 100%;
        height: 40px;
        outline: none;
        padding: 5px;
        box-sizing: border-box;
        color: #252525;
        border-radius: 3px;
    }

    label[for=attach-file] {
        padding: 5px 7px;
        border-radius: 3px;
        font-size: 0.85rem;
        background-color: rgb(81, 86, 92);
        display: inline-block;
        width: max-content;
        color: rgb(240, 240, 240);
        transition: 0.5s ease;
    }

    label[for=attach-file]:hover {
        background-color: rgb(63, 65, 66);
    }

    span.file-name {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.9rem;
    }

    #attach-file {
        display: none;
    }

    .task-form button {
        height: 40px;
        box-sizing: border-box;
        background: rgb(0, 65, 109);
        border: transparent;
        color: whitesmoke;
        font-family: system-ui;
        text-transform: uppercase;
        border-radius: 3px;
        transition: 0.5s ease;
    }

    .task-form button:hover {
        background: rgb(0, 46, 116);

    }
</style>


<section class="task-form-cover">

    <div class="task-form-cover">
        <h2 class="section-header"> Update Task</h2>

        <form method="POST" action="" class="task-form" enctype="multipart/form-data">
            {% for message in messages %}
            {% if message.tags == "success" %}
            <p class="response-message success">{{message}}</p>
            {% else %}
            <p class="response-message error">{{message}}</p>
            {% endif %}
            {% endfor %}
            {% csrf_token %}
            <div class="each-input">
                <span class="input">
                    <textarea name="description" placeholder="Describe The Task"
                        required>{{task.description}}</textarea>
                </span>
            </div>

            {% if task.attachment  %}
            <div class="each-input">
                <span class="label">Attached File:</span>
                <span class="input"> <a class="style-link" href="{{task.attachment.url}}">{{task.attachment.name}}</a>
                </span>
            </div>
            {% endif %}

            <div class="each-input">
                <span class="label">Attach or Change File (Optional):</span>

                <div class="attach-label-cover">
                    <label for="attach-file">Select a File <i class="fa fa-file-import"></i> </label>
                    <span class="file-name"></span>
                </div>
                <input type="file" name="attach-file" id="attach-file">
            </div>

            <div class="each-input">
                <span class="input">
                    <select name="level" id="" required>
                        <option disabled selected value=""> Select Level </option>
                        {% for level in levels %}
                        {% if task.level == level %}
                        <option value="{{level.id}}" selected="selected"> {{level.name}} </option>
                        {% else %}
                        <option value="{{level.id}}"> {{level.name}} </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div><!-- div.each-input -->

            <div class="each-input">
                <span class="input">
                    <select name="task-type" id="" required>
                        <option value="" disabled selected> Select Task Type </option>
                        {% for type in task_types %}
                        {% if task.task_type == type %}
                        <option value="{{type.id}}" selected> {{type.name}} </option>
                        {% else %}
                        <option value="{{type.id}}"> {{type.name}} </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div><!-- div.each-input -->

            <div class="each-input">
                <span class="input">
                    <select name="course" required>
                        <option value="" disabled> Select Course </option>
                        {% for course in dept_courses %}
                        {% if task.course == course %}
                        <option value="{{course.id}}" selected> {{course.course_code}} </option>
                        {% else %}
                        <option value="{{course.id}}"> {{course.course_code}} </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </div><!-- div.each-input -->

            <div class="each-input">
                <span class="label">
                    Deadline For Task:
                </span>
                <span class="input">
                    <input type="datetime-local" name="due-date" value="{{task_date}}">
                </span>
            </div><!-- div.each-input -->

            <div class="each-input">
                <span class="label">Should The Task Accept Replies?</span>
                <span class="input">
                    <select name="allow_reply" required>
                        {% if task.allow_reply %}
                        <option value="1" selected> True</option>
                        <option value="0"> False</option>
                        {% else %}
                        <option value="1"> True</option>
                        <option value="0" selected> False</option>
                        {% endif %}
                    </select>
                </span>
            </div><!-- div.each-input -->

            <div class="each-input">
                <span class="label">Should The Task Accept Files?</span>
                <span class="input">
                    <select name="allow_files" required>

                        {% if task.allow_files %}
                        <option value="1" selected> True</option>
                        <option value="0"> False</option>
                        {% else %}
                        <option value="1"> True</option>
                        <option value="0" selected> False</option>
                        {% endif %}
                    </select>
                </span>
            </div><!-- div.each-input -->

            <div class="each-input">
                <span class="label">Should The Students Be Able to Edit Replies?</span>
                <span class="input">
                    <select name="allow_edit" required>
                        {% if task.allow_edit_response %}
                        <option value="0"> False</option>
                        <option value="1" selected> True</option>
                        {% else %}
                        <option value="0" selected> False</option>
                        <option value="1"> True</option>
                        {% endif %}
                    </select>
                </span>
            </div><!-- div.each-input -->

            <button type="submit">Update Task</button>
        </form>
    </div><!-- div.task-form-cover -->

</section>

<script>
    function activateFileName() {
        let fileInput = document.getElementById("attach-file");
        let nameSpan = document.querySelector("span.file-name");
        fileInput.addEventListener("change", function () {
            if (fileInput.files.length > 0) {
                let name = fileInput.files[0].name;
                nameSpan.innerHTML = `Selected File: ${name}`;
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        activateFileName();
    });

</script>

{% endblock %}