{% extends 'main/main.html' %}
{% block content %}
<style>
    .tailwind-content * {
        padding: revert-layer;
        margin: revert-layer;
    }
</style>

<div class="tailwind-content relative overflow-x-auto shadow-md sm:rounded-lg grid gap-1">
    <h2 class="text-center text-gray-900 text-3xl text">Academic Levels</h2>
    <p class="text-base text-gray-500 text-center">Represents the Academic Levels Available on the System e.g 100L, 200L
    </p>
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <p class="bg-green-900 text-xl text-white text-center p-1 rounded max-w-[500px] w-[80%] m-auto">{{message}}
    </p>
    {% elif message.tags == 'success' %}
    <p class="bg-red-600 text-xl text-white text-center p-1 rounded max-w-[500px] w-[80%] m-auto">{{message}}
    </p>
    {% else %}
    <p class="bg-gray-200 text-xl text-gray-700 text-center p-1 rounded max-w-[600px] w-[90%] m-auto">{{message}}
    </p>
    {% endif %}
    {% endfor %}
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">

        <label for="table-search" class="sr-only">Search</label>
        <div class="relative grid gap-1.5 w-full items-center">
            <div>
                <a class="block ml-1 max-w-max bg-blue-800 text-sm hover:bg-blue-500 text-white p-1.5 rounded justify-end focus:outline-none focus:shadow-outline"
                    href="{% url 'add_level' %}">New <i class="fa fa-plus"></i></a>
            </div>
            <div
                class="flex text-sm text-gray-900 border justify-self-end border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <div class="p-2">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>

                <input type="text" id="table-search" class="block p-2 w-full outline-0" placeholder="Search for items">
            </div>

        </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="p-3">
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    Level
                </th>
                <th scope="col" class="px-6 py-3">Edit</th>
                <th scope="col" class="px-6 py-3">Delete</th>

            </tr>
        </thead>
        <tbody>
            {% for level in levels %}
            <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-3" type="checkbox"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-3" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{level.name}}
                </th>

                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>

                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
                </td>
            </tr>
            {% endfor %}

            {% if levels.count == 0 %}

            <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td colspan="4" class="p-3 text-center"> No Data Available </td>
            </tr>


            {% endif %}

        </tbody>
    </table>
</div>

{% endblock %}