{% extends 'main/main.html' %}
{% block content %}
<style>
    section.task-form-cover {
        font-family: system-ui;
        padding: 5px;
        display: grid;
        gap: 15px;
        max-height: 80vh;
        overflow-y: scroll;
    }

    section.task-form-cover::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }

    section.task-form-cover::-webkit-scrollbar-thumb {
        background-color: grey;
    }

    .section-header {
        font-weight: 400;
        font-family: system-ui;
        font-size: 1.3rem;
        color: rgb(10, 33, 51);
        text-align: center;
    }

    div.task-form-cover {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px #aaaaaa;
        box-sizing: border-box;
        max-width: 600px;
        width: 98%;
        margin: auto;
        background-color: white;
        display: grid;
        gap: 15px;
    }


    .task-form {
        display: grid;
        gap: 10px;
        padding: 5px;
        box-sizing: border-box;
    }

    div.each-input {
        display: grid;
        gap: 3px;
    }

    span.label {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .input textarea {
        resize: none;
        width: 100%;
        height: 35vh;
        box-sizing: border-box;
        background: transparent;
        border-radius: 5px;
        padding: 10px;
        outline: none;
        border: 1px solid #3a3a3a;
        font-family: system-ui;
    }

    .input textarea::placeholder {
        font-family: system-ui;
    }

    .input input {
        border: 1px solid #252525;
        border-radius: 3px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .input select,
    .input input {
        resize: none;
        width: 100%;
        height: 40px;
        outline: none;
        padding: 5px;
        box-sizing: border-box;
        color: #252525;
        border-radius: 3px;
    }

    label[for=attach-file] {
        padding: 5px 7px;
        border-radius: 3px;
        font-size: 0.85rem;
        background-color: rgb(81, 86, 92);
        display: inline-block;
        width: max-content;
        color: rgb(240, 240, 240);
        transition: 0.5s ease;
    }

    label[for=attach-file]:hover {
        background-color: rgb(63, 65, 66);
    }

    span.file-name {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.9rem;
    }

    #attach-file {
        display: none;
    }

    .task-form button {
        height: 40px;
        box-sizing: border-box;
        background: rgb(0, 65, 109);
        border: transparent;
        color: whitesmoke;
        font-family: system-ui;
        text-transform: uppercase;
        border-radius: 3px;
        transition: 0.5s ease;
    }

    .task-form button:hover {
        background: rgb(0, 46, 116);

    }
</style>


<section class="task-form-cover">

    <div class="task-form-cover">
        <h2 class="section-header"> Change Password</h2>

        <form method="POST" action="" class="task-form" enctype="multipart/form-data">
            {% for message in messages %}
            {% if message.tags == "success" %}
            <p class="response-message success">{{message}}</p>
            {% else %}
            <p class="response-message error">{{message}}</p>
            {% endif %}
            {% endfor %}
            {% csrf_token %}


            <div class="each-input">
                <span class="label">Former Password:</span>
                <span class="input">
                    <input type="password" placeholder="Former Password" name="fmr-password">
                </span>
            </div><!-- div.each-input -->

            <div class="each-input">
                <span class="label">New Password:</span>
                <span class="input">
                    <input type="password" placeholder="new Password" name="new-password">
                </span>
            </div><!-- div.each-input -->

            <div class="each-input">
                <span class="label">Confirm New Password:</span>
                <span class="input">
                    <input type="password" placeholder="Confirm New Password" name="confirm-password">
                </span>
            </div><!-- div.each-input -->



            <button type="submit">Update Password</button>
        </form>
    </div><!-- div.task-form-cover -->

</section>
{% endblock %}